.Card {
    @apply bg-white sm:p-2 p-[2px] flex justify-center items-center m-4 h-[200px] w-[120px] sm:w-[250px] sm:h-[270px] rounded-lg sm:text-nowrap border border-slate-200;
    transition: transform 0.3s ease-in-out;
}

.Card:hover {
    transform: scale(1.1);
}

.buttons {
    @apply text-white m-2 px-3 rounded-sm min-w-[40px] min-h-[30px];
    background-color: rgba(55, 55, 55, 1);
}



.scrollBtn {
    @apply overflow-scroll flex sm:w-[80vw] w-[90vw] text-center;
    scrollbar-width: none;
}